.noise-texture {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 393px;
  height: 852px;
  object-fit: cover;
  opacity: 0.35;
  mix-blend-mode: overlay;
}
.crear-cuenta {
  position: absolute;
  top: 60px;
  left: calc(50% - 83.5px);
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}
.sign-up-with {
  position: relative;
  font-weight: 500;
  z-index: 0;
}
.icongoogle {
  width: 18px;
  position: absolute;
  margin: 0 !important;
  top: 15px;
  left: 16px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.signupwaybutton {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 16px;
}
.signupbuttons {
  position: absolute;
  top: 135px;
  left: calc(50% - 149.5px);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 16px;
}
.border {
  flex: 1;
  position: relative;
  background-color: #000;
  height: 1px;
  opacity: 0.2;
}
.o {
  position: relative;
  font-weight: 500;
}
.ordivider {
  position: absolute;
  top: 263px;
  left: calc(50% - 149.5px);
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0.5;
  font-family: Inter;
}
.create-account1 {
  position: relative;
  font-weight: 600;
}
.button {
  position: absolute;
  top: 476px;
  left: calc(50% - 149.5px);
  border-radius: 8px;
  background-color: #dc6464;
  width: 300px;
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 32px;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
}
.inicia-sesion {
  text-decoration: underline;
  font-weight: 600;
  color: #9c6fff;
}
.ya-tienes-una-container {
  position: absolute;
  bottom: 60px;
  left: calc(50% - 110.5px);
  color: #808080;
}
.johndoemailcom {
  position: absolute;
  top: calc(50% - 9px);
  left: 16px;
  opacity: 0.75;
}
.input1 {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
}
.input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.eye {
  position: absolute;
  top: calc(50% - 7px);
  right: 16px;
  opacity: 0.5;
}
.passwordtext-child {
  width: 6px;
  position: relative;
  border-radius: 50%;
  background-color: #000;
  height: 6px;
}
.passwordtext {
  position: absolute;
  top: 19px;
  left: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  opacity: 0.75;
}
.input3 {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  color: #808080;
  font-family: 'Font Awesome 6 Pro';
}
.signupforms {
  position: absolute;
  top: 296px;
  left: calc(50% - 149.5px);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  text-align: left;
}
.formbox {
  position: absolute;
  width: calc(100% - 112px);
  top: 117px;
  right: 48px;
  left: 64px;
  box-shadow: 0px 0px 30px rgba(205, 198, 219, 0.3);
  border-radius: 16px;
  background: linear-gradient(180deg, #fbfafb, #fff);
  border: 6px solid #050000;
  box-sizing: border-box;
  height: 618px;
}
.todos-los-derechos {
  position: absolute;
  bottom: 94px;
  left: calc(50% - 93.5px);
  font-size: 12px;
  color: #808080;
  white-space: pre-wrap;
}
.image-1-icon {
  position: absolute;
  top: 29px;
  left: 161px;
  width: 170px;
  height: 167px;
  object-fit: cover;
}
.mobile {
  position: absolute;
  top: 0px;
  left: -19px;
  background-color: #cd4640;
  width: 457px;
  height: 912px;
  overflow: hidden;
}
.create-account {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 912px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: Outfit;
}

