body {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin {
  width: 100vw;
  height: 100vh;
  background-color: #cd4640;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile {
  background-color: #cd4640;
  width: 90%; /* 100% menos el margen del 5% a cada lado */
  height: 90%; /* 100% menos el margen del 5% en la parte superior e inferior */
  max-width: 457px; /* Esto limita el tamaño máximo en pantallas grandes */
  max-height: 912px; /* Esto limita el tamaño máximo en pantallas grandes */
  position: relative;
}

.textures {
  position: absolute;
  top: 5%; /* Margen del 5% desde la parte superior */
  left: 5%; /* Margen del 5% desde la parte izquierda */
  width: 90%; /* 100% menos el margen del 5% a cada lado */
  height: 90%; /* 100% menos el margen del 5% en la parte superior e inferior */
  object-fit: cover; /* Asegura que la imagen cubra completamente el área */
  opacity: 0.35;
  mix-blend-mode: overlay;
  pointer-events: none;
}













.checkbox {
  margin-right: 10px; 
  width: 20px; 
  height: 20px;
  
}

.copyright {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  white-space: pre-wrap;
  text-align: center; /* Opcional: centrar el texto dentro del div */
}

.section-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Reducido de 20px a 10px */
    margin-top: 10px; /* Reducido de 20px a 10px */
    text-align: center;
}

.option {
  text-align: center;
  flex: 1;
  padding: 10px;
}

.option p {
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
}

.option img {
  width: 70px;
  height: 60px;
}

.option-with-title {
  text-align: center;
  flex: 1;
}

.option-with-title p {
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
}

.option-with-title img {
  width: 36px;
  height: 30px;
  border: 2px solid #ECE3E3; 
    background-color: #ECE3E3;
    border-radius: 6px; 
    padding: 10px;
}

.page-title{
  color: white;
  border: 2px solid #9B1111; 
  background-color: #9B1111;
  border-radius: 10px;
  padding: 10px; 
  width: fit-content; 
}