.todo-lista {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.date {
    flex: 1; 
    color: rgba(0, 0, 0, 0.7);
}

.task {
    position: relative;
    margin-right: 1vw;
    margin-left: 2vw;
    display: flex;
    width: 60vw;
    font-size: 2vh; /* Ajustado a vh */
}

.container-iconAdd {
    position: absolute;
    display: flex; 
    left: 50%; 
    height: 15vh; /* 15% de la altura de la ventana */
    width: 100vw; /* Asegúrate de que ocupe el 100% del ancho del viewport */
    transform: translateX(-50%);
    flex-direction: column; /* Alinea los elementos en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    gap: 1vw; /* Espacio entre la imagen y el input */
    bottom: 5vh; /* Ancla el contenedor al fondo */
}

.icon-add {
    width: 15vh;
    height: 15vh;
    max-width: 10vw; /* Limite máximo relativo al ancho del viewport */
    max-height: 10vh; /* Limite máximo relativo a la altura del viewport */
}

.quick-task-input {
    width: 90vw; /* Ajusta el ancho según sea necesario */
    max-width: 80vw; /* Establece un ancho máximo para el input */
    padding: 2vh;
    border-radius: 0.5vh;
    border: 1px solid #ccc; /* Bordes del input */
}

.container-task {
    position: relative;
    margin: 0 auto;
    width: 80vw;
    height: 37vh;
    font-size: 2vh; /* Ajustado a vh */
    color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.task-list {
    list-style-type: none; /* Elimina los bullets de la lista */
    padding: 0; /* Elimina el padding del ul */
    margin: 0; /* Elimina el margen del ul */
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 1vh; /* Espacio entre cada item */
    border-radius: 0.5vh;
    background-color: #fff;
    padding: 1vh;
}

.title {
    color: white;
    border: 0.5vh solid #9B1111; 
    background-color: #9B1111;
    border-radius: 1vh;
    padding: 1vh; 
    width: fit-content; 
    margin-left: auto;  /* Ajusta el margen izquierdo automáticamente */
    margin-right: auto; /* Ajusta el margen derecho automáticamente */
    display: block;     /* Asegura que el elemento se comporte como un bloque para que los márgenes automáticos funcionen */
    text-align: center; /* Centra el texto dentro del elemento si hay varias líneas */
}

.container-date {
    position: relative;
    flex-direction: column; /* Alinea los elementos en una columna */
    justify-content: center; 
    display: flex;
    align-items: center;
    width: 40vw;
    font-size: 2vh; /* Ajustado a vh */
}

.taskListSelect {
    color: white;
    border: 0.5vh solid #9B1111; 
    background-color: #9B1111;
    border-radius: 1vh;
    padding: 1vh 2vw; /* Ajustado para un mejor aspecto */
    font-size: 2.5vh; /* Ajustado a vh */
    font-family: "Audiowide", sans-serif;
}

.section-list {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1vh; /* Ajustado para un mejor aspecto */
    top: 5vh;
}

.button {
    position: relative; 
    border-radius: 1vh;
    background-color: #dc6464;
    border-color: #dc6464;
    overflow: hidden;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center; /* Ajustado para alinear el contenido */
    justify-content: center;
    padding: 1vh 3vw;
    box-sizing: border-box;
    font-size: 2.5vh; /* Ajustado a vh */
    color: #fff;
}

.vector-icon {
    position: flex;
    width: 2vw;
    height: 2vw;
    border: 0.2vh solid #ECE3E3;
    background-color: #ECE3E3;
    border-radius: 0.5vh; 
    padding: 0.5vh; 
}
