.name-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
    font-size: 10.7vw; /* Tamaño de fuente proporcional al ancho del contenedor */
    font-family: Monofett;
    color: #9b1111;
    text-align: center;
    display: inline-block;
    width: 80vw; /* Ajusta el ancho proporcionalmente al contenedor */
    height: 20vh; /* Ajusta la altura proporcionalmente al contenedor */
    max-width: 399px;
    max-height: 167px;  }
  
  .appName {
    margin: 0;
    white-space: pre-wrap;
    text-align: center;
  }
  
  .logo {
    position: relative;
    top: 2vh; /* Ajusta la posición superior proporcionalmente al contenedor */
    left: 50%;
    transform: translateX(-50%);
    width: 70vw; /* Ajusta el ancho proporcionalmente al contenedor */
    height: 40vh; /* Ajusta la altura proporcionalmente al contenedor */
    max-width: 471px;
    max-height: 360px;
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionar */
  }
  